<main role="main" class="inner cover">
    <h1 class="cover-heading">Mike's Story</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "IMG_0874.JPG", width: 300, alt: "profile image" %>
      </div>
      <div class="col-md-8">
        <p class="lead">I grew up in a small northern town and had many opportunities as I grew older.  I put myself through college working summers and part time at the Paper mill.  After college I got an apprentship with Ontario Hydro and worked my way up the ladder to be a Supervisor.  After 32 years I decided the daily struggles were not getting me where I wanted to be so I put in my retirement papers.  Retirement was much more exciting to me and I worked on the projects that gave me the most return for my labours.  I built 3 new shooting ranges at the Rockcut Shooting club and worked on getting new action shooting sports established at the club.  Buying a small Kubota tractor with a backhoe attachment kept me busy on many side projects working for others.  Having more spare time in the winters I delved into computer programming and web development. It has stretched my mind learning new skills and I also taught myself to weld and have built some items for the Rockcut Shooting club such as tables and rifle racks. </p>
    <p class="lead"> Looking forward to the future and getting better at my favourite recreation activities.  Travelling to shooting matches and practicing at getting better in the sport.
    </p>
      </div>
    </div>
    
    <p class="lead">
    <%= link_to "About Me", about_me_path, class: 'btn btn-lg btn-secondary' %>
    </p>
</main>
