<div class="app-card-container">
  <div class="card">
    <h1>Contact me if you need something done right!</h1>
    <hr>
    <div class="row">
      <div class="col-md-5">
      <h3> Home Address </h3>
      <p>119 Maple Road Bonfield On Canada P0H1E0</p>
      <p>Home Phone:  <%= number_to_phone "7057767332" %></p>
      <p>Cell Phone:  <%= number_to_phone "7054996252" %></p>
      <h3>Email Address</h3>
      <p><a href="mailto:mike.andrews357@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
      </div>

      <div class="col-md-7">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13726.072869182286!2d-79.18060550393844!3d46.26156712522051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d29b471742ded61%3A0xbdea19e1b7c4a5ff!2s119+Maple+Rd%2C+Bonfield%2C+ON+P0H+1E0!5e0!3m2!1sen!2sca!4v1547155735945" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>



