
  

<main role="main" class="inner cover">
    <h1 class="cover-heading">Life Hacks by Mike</h1>
    <p class="lead">When you find the solutions to lifes challenges you win!  Make sure you write down the solution as you will need them again later.  We all get the same number of hours in a day, so make the best of them.</p>
    <p class="lead">
    <%= link_to "About Me", about_me_path, class: 'btn btn-lg btn-secondary' %>
    </p>
</main>


  


